{% extends 'basis/baseweb1.html' %}
{% load static %}

{% block inhoud2 %}
<!--------------------HEADER--------------------------------------------------------------------------------------------------------->
<div class="row">
    <div class="col-12"> 
        <div class="img-container-contact"> 
            <!--<img src="{% static 'img/Paginas/Lucht_Header3.jpg'  %}" alt="header-sbwe">  -->    
            <img src="{% static 'img/Paginas/BKBuiten5.jpg'  %}" alt="header-sbwe">       
            <div class = "img-txt-contact font-20B verbergenMobiel"> 
                Contact
            </div>
        </div> 
    </div>
</div>
<!------->
<!--sjabloon in basisweb1, wordt volgens mij niet gebruikt, omdat tekst dubbel op pagina komt te staan-->
{% block txt %}
{% endblock %}
<!------->
<!--------------------EINDE>>HEADER--------------------------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-4">  
            <ol class="font-20B TxtCenter"> Adres</ol>
            <ol class="font-9 TxtCenter">  Brouwersgracht 2, 2512 ER Den Haag </ol>
    </div>

    <div class="col-4">  
            <ol class="font-20B TxtCenter"> Email</ol>
            <ol class = "font-9 TxtCenter"> stichtingbwe@gmail.com</ol>
    </div>

    <div class="col-4">  
            <ol class="font-20B TxtCenter"> Telefoon</ol>
            <ol class="font-9 TxtCenter">  06 14 18 70 96 </ol>
    </div>
</div>
<!--------------------------------------------------------------------------------------------------------------------- -->
<!------------------------------------------------------------------------------------------------------------------------>
{% endblock %}