{% extends 'basis/baseweb1.html' %}
{% load static %}


{% block inhoud2 %}
<!--------------------------------------------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-12"> 
        <div class="img-container-contact"> 
            <img src="{% static 'img/Paginas/BKBuiten2.jpg'  %}" alt="header-contact">     
            <div class = "img-txt-contact"> 
            </div>
        </div> 
    </div>
</div>

<!--------------------------------------------------------------------------------------------------------------------- -->
<div class="">    
    <div class="row">
        <div class="col-1"><br></div>
        <div class="col-10">
            <div class="tabel-contact font-12">
            <TABLE>
                <TR>
                    <TH> Adres </TH>
                    <TH> Email </TH>
                    <TH> Telefoon </TH>
                </TR> 

                <TR>
                    <TD> Brouwersgracht 2, 2512 ER Den Haag  </TD>
                    <TD> stichtingbwe@gmail.com</TD>
                    <TD class="font-11">  06 14 18 70 96 </TD>
                </TR> 

                <TR>
                    <TD colspan="3" class="font-9">  <em>Reserveringen voor de Barthkapel gaan uitsluitend via de email </em> </TD>
                </TR> 
            </TABLE>
            </div>
        </div>
        <div class="col-1"><br></div> 
    </div>
</div> 
<!--------------------------------------------------------------------------------------------------------------------------------------- -->
    <div class="row">  
        <div class="col-12">
            <br>
        </div>
    </div>
<!--------------------------------------------------------------------------------------------------------------------------------------- -->


{% endblock %}

{% block txt %}
{% endblock %}

