{% extends 'basis/baseweb1.html' %}
{% load static %}


{% block inhoud2 %}
<!--------------------------------------------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-12"> 
        <div class="img-container-contact"> 
            <img src="{% static 'img/Paginas/Lucht_Header3.jpg'  %}" alt="header-sbwe">     
            <div class = "img-txt-contact"> 
            </div>
        </div> 
    </div>
</div>

<!------------------------------------------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-12"> 
   <!----- <div class ="font-20B TxtCenter verbergenLaptop verbergenMobiel"> Missie/Visie </div> ---- -->
    </div>
</div>
<!----------------------------------------------------------------------------------------------------------------------->
<div class="row">

    <div class="col-4 mobiel">   
        <a href=""><img class="formaat1M OverS" src="{% static 'img/Paginas/Simon3.jpg' %}" alt="foto1"> </a>
    </div>

    <div class="col-1"> </div>

    <div class="col-4">     
        <div class = "Vlak1_3 font-9">
            <strong>Oprichting </strong> <br> 

            Begin jaren 90 was een aantal betrokken buurtbewoners bezorgd over het verdwijnen van oude karakteristieke panden in het oude centrum van Den Haag. 
            Een van hen was Simon Kamper, actief in het buurtoverleg en de krakersbeweging. <br> 
            Hij richtte in op 18 juni 1992 Stichting Behoud Ongeregeld Goed op, een aantal 
            maanden later, op 30 oktober 1992, werd de naam, op aanraden van de toenmalige wethouder Peter Noordanus, veranderd in Stichting Behoud Waardevol Erfgoed. 
            Het huidige bestuurslid Kees Doornenbal is al vanaf het begin betrokken bij de stichting.
        </div>
    </div>

    <div class="col-1"> <br> </div>

  
    
    <div class="col-1"> <br> </div>
</div>
<!--------------------------------------------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-1"> <br> </div>

    <div class="col-4 mobiel">     
            <a href=""><img class="formaat1M verbergenMobiel" src="{% static 'img/HistorieGalerie/Galerie/foto5.jpg' %}" alt="foto2"> </a>
            <div> <br> </div>
            <div class="font-9"> <a href="/historie.html"> <em> Fotogalerie </em>  </a> </div>
            <div> <br> </div>
            <!--<div class="font-9"> <a href="/historie.html"> <em> Archief / Verleden </em>  </a> </div>  -->
    </div>

    <div class="col-1"> <br> </div>

    <div class="col-4">
        <div class = "Vlak1_3 font-9">
            <strong>Team </strong> <br> <br>
            SBWE kent een platte organisatiestructuur. Het bestuur bestaat uit vier leden waarvan drie ook uitvoerende werkzaamheden verrichten, zoals onderhoud, 
            beheer en financiën. 
            <br> <br> <br>

            <strong>Doelstelling </strong> <br> <br>
            De doelstelling van de stichting is het instandhouden en waarborgen van de oorspronkelijke stedelijke bebouwing te Den Haag en het stimuleren 
            van de diversiteit van het gebruik van die stedelijke bebouwing. De stichting probeert haar doel onder meer te realiseren door het verwerven, 
            verbeteren en beheren van erfgoed in de binnenstad.
        </div>
    </div>
</div>

<!--------------------------------------------------------------------------------------------------------------------------------------- -->
    <div class="row">  
        <div class="col-12">
            <br>
        </div>
    </div>
<!--------------------------------------------------------------------------------------------------------------------------------------- -->
<script src="{% static 'js/Buttons.js' %}"></script>



<!------->
{% block txt %}
over SBWE
{% endblock %}
<!------->
{% endblock %}
