{% extends 'basis/baseweb1.html'%}
{% load static %}


{% block inhoud2 %}

<!---------------------------------------------------------------------------------------------------------------------->
<div class="row">
    <div class="col-12">  
        <div class="img-container-bkverhuur">
            <img class="formaat0" src="{% static 'img/BK/BK_Header1.jpg' %}"  alt="Header-BKverhuur"><br>
            <div class = "img-txt-bkverhuur"> 
                Reservering Barthkapel
            </div>
        </div>
    </div>
</div>


<!---------------------------------------------------------------------------------------------------------------------->

<div class="row">
    <div class="col-12"> 
        <div class ="font-20B TxtCenter"> Verhuur Barthkapel </div>
        <br>
        <br>  
       
    </div>
</div>

<!--------------------------------------------------------------------------------------------------------------------- -->

<div class="row">
    <div class="col-2"> <br> </div>

    <div class="col-8T">  
        <ol class ="font-12">
            Stichting Behoud Waardevol Erfgoed verhuurt een authentieke kapel in het centrum van de stad. De Barthkapel is te huur voor: concerten, optredens, yogalessen, exposities, balletlessen, lezingen, kerkdiensten, workshops, vergaderingen, recepties, boekpresentaties, etc.
            Huurders die op regelmatige basis (bijv. een ochtend in de week) willen huren, zijn ook van harte welkom. Versterkte muziek is niet toegestaan.
        </ol>
    </div>

    <div class="col-2"> <br> </div>
</div>

<!--------------------------------------------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-12"> 
        <br>
        <div class ="font-20B TxtCenter"> Impressie</div>
        <br>
        <br>  
       
    </div>
</div>


<!--------------------------------------------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-4">  
        <img class="foto-verhuur" src="{% static 'img/BK/BK1.jpg' %}" alt="">




        
    </div>
    <div class="col-4">  
        <img class="foto-verhuur" src="{% static 'img/BK/BK2.jpg' %}" alt="">
    </div>
    <div class="col-4">  
        <img class="foto-verhuur" src="{% static 'img/BK/BK3.jpg' %}" alt="">
    </div>
</div>

<!--------------------------------------------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-12 TxtLeft"> 
        <ol class="font-12"> <a href="/CC/impressieBK.html"> <strong> <em> Geluidsfragment (Violiste Jasmijn Burger) </em> </strong> </a></ol>  
       
    </div>
</div>

<!--------------------------------------------------------------------------------------------------------------------- -->

<div class="">    
    <div class="row">
        <div class="col-1"><br></div>
        <div class="col-10">
            <div class="tabel-contact font-12">
            <TABLE>
                <TR>
                    <TH> Tarief </TH>
                    <TH>  </TH>
                    <TH> Email </TH>
                </TR> 

                <TR>
                    <TD>   </TD>
                    <TD>   </TD>
                    <TD>   </TD>
                </TR> 

                <TR>
                    <TD>   </TD>
                    <TD>   </TD>
                    <TD>   </TD>
                </TR> 


                <TR>
                    <TD> 37,50 per uur  </TD>
                    <TD>   </TD>
                    <TD>  stichtingbwe@gmail.com </TD>
                </TR> 

                <TR>
                    <TD>   </TD>
                    <TD>   </TD>
                    <TD>   </TD>
                </TR>

                <TR>
                    <TD>   </TD>
                    <TD>   </TD>
                    <TD>   </TD>
                </TR>

                <TR>
                    <TD class = "font-10"><em>Korting voor studenten van het Koninklijk Conservatorium / KABK  </em></TD>
                    <TD class = "font-10">   </TD>
                    <TD class="font-10">  <em>Reserveringen voor de Barthkapel <br> gaan uitsluitend via de email </em> </TD>
                
                </TR> 

                <TR>
                    <TD class = "font-10"></TD>
                    <TD class = "font-10">    </TD>
                    <TD class="font-10">  <em> </em> </TD>
                
                </TR> 

                <TR>
                    <TD colspan="3" class="font-9"> <br> </TD>
                </TR> 
            </TABLE>


            </div>
        </div>
        <div class="col-1"><br></div> 
    </div>
</div> 
<!--------------------------------------------------------------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-12"> 
        <br>
    </div>
</div>
<!--------------------------------------------------------------------------------------------------------------------------------------- -->

<div class="row">
    <div class="col-12"> 
        <div class ="font-20B TxtCenter verbergenMobiel OpmaakLaptop"> Ligging</div>
        <div class ="font-20B TxtCenter verbergenLaptop"> Adres</div>
    </div>
</div>
<!--------------------------------------------------------------------------------------------------------------------- -->
<div class="row">

    <div class="col-1">  
    </div>

    <div class="col-4">  
        <ol class="font-20B TxtCenter verbergenMobiel"> Ligging</ol>
        <ol class="font-20B TxtCenter verbergenLaptop"> Adres</ol>
        <ol class="font-20B TxtCenter"> Barthkapel</ol>
        <ol class="font-9 TxtCenter"> Brouwersgracht 2K</ol>
        <ol class="font-9 TxtCenter"> 2512 ER Den Haag</ol>
        <ol class="font-8 TxtCenter color">  <a href="/panden/lepelstr.html">  Bekijk deze locatie </a> </ol>
        <ol class="font-8 TxtCenter"> <br> </ol>
    </div>

    <div class="col-4"> 
        <ol class= "font-20B TxtCenter"><br></ol>
        <ol class= "font-20B TxtCenter"><br></ol>
        <ol class= "font-20B TxtCenter verbergenMobiel"> Barthkapel</ol>
        <ol class= "font-9 TxtCenter">  Brouwersgracht 2K</ol>
        <ol class= "font-9 TxtCenter">  2512 ER Den Haag</ol>
    </div>

    <div class="col-1">  
        <br> 
    </div>

    <div class="col-6 mobiel">  
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4904.6590711466215!2d4.30361597616389!3d52.073730769174716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5b7289a466b29%3A0x2e27e5a1e2e473ea!2sBrouwersgracht%202K%2C%202512%20ER%20Den%20Haag!5e0!3m2!1snl!2snl!4v1719780287797!5m2!1snl!2snl" 
        width="80%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
    </div>
  
</div>

<!--------------------------------------------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-12"> 
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
<!--------------------------------------------------------------------------------------------------------------------- -->

<div class="row">
    
    <div class="col-1">  
        <br> 
    </div>

    <div class="col-6 mobiel">   
        <iframe src="https://www.google.com/maps/embed?pb=!4v1715773275253!6m8!1m7!1srRdZ4SnXUjJhk1rnW1Df2g!2m2!1d52.07367815163905!2d4.305508846694697!3f116.99734054729066!4f2.400498634234708!5f0.7820865974627469" 
        width="80%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>


    <div class="col-3 mobiel"> 
        <ol class= "font-10 TxtCenter"><br></ol>
        <ol class= "font-9 mobiel"> Kapel is bereikbaar vanaf de Brouwersgracht via de smalle steeg. <br> Deze leidt u naar de kloostertuin en de kapel.</ol>
        <ol class= "font-9 TxtCenter"><br></ol>
        <ol class= "font-9 "> <a href="/CC/voorwaardenBK.html"> Annuleringsvoorwaarden </a> </ol>
        <ol class= "font-9">  <a href="/CC/CCinrichting.html"> Inrichting - algemene informatie </a>  </ol>
    </div>

    <div class="col-1">  
        <br> 
    </div>

</div>

<!--------------------------------------------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-12"> 
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
<!--------------------------------------------------------------------------------------------------------------------- -->
{% endblock %}

<!--------------------------------------------------------------------------------------------------------------------- -->
{% block txt %}
{% endblock %}
<!--------------------------------------------------------------------------------------------------------------------- -->