{% extends 'basis/baseweb1.html'%}
{% load static %}


{% block inhoud2 %}

<!--------------------------------------------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-12"> 
        <div class="img-container-pd">      
            <img src="{% static 'img/Headers/Header_Barth.jpg' %}" alt="Header-Barth" br>
            <div class = "img-txt-pdpakh font-20B"> 
            </div>
        </div> 
    </div>
</div>

<!------------------------------------------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-12"> 
        <div class ="font-20B TxtCenter verbergenMobiel OpmaakLaptop"> Geschiedenis </div>
        <a href= "/panden/looyerstr.html"  class="vorige">&#8882;</a>
        <a href= "/panden/lepelstr.html"  class="volgende">&#8883;</a>
        <div class ="font-20B TxtCenter verbergenLaptop"> Barthkapel </div>
    </div>
</div>

<!--------------------------------------------------------------------------------------------------------------------- -->

<div class="row">
    <div class="col-2"> <br> </div>

    <div class="col-8T">  
        <div class ="font-9 ">
            De Liefdezusters van de Heilige Carolus Borromeus, ook wel Zusters Onder de Bogen of Bogenzusters genoemd, is een rooms-katholieke zustercongregatie 
            die in 1837 in Maastricht werd gesticht. Ook buiten Maastricht waren de zusters actief, onder andere in Den Haag. In 1894 verhuisden 
            zij naar de Prinsengracht 36. Later werd ook de Prinsengracht 38 erbij gevoegd. 
            <br><br>
            
            Aan de achterzijde van het nonnenklooster werd in 1906 een kapel gebouwd in neogotische stijl, de Carolus Borromeus kapel, nu bekend onder de naam Barthkapel.
            Vanaf dat moment hadden de nonnen een volwaardig klooster. Toen ze eind jaren 60 het klooster wilden verbouwen, kregen ze daarvoor geen toestemming omdat 
            de gemeente het voornemen had een verbindingsweg aan te leggen door het oude centrum, van het Prins Bernhardviaduct naar de Prinsegracht. 
            Hiervoor zou onder andere de kapel moeten worden afgebroken. Deze tegenslag en de vergrijzing van de zusterorde zorgden ervoor dat de nonnen in 1970 
            het klooster verlieten.
            <br><br>
            In 1976 waren de panden zodanig vervallen dat de gemeente een vergunning tot sloop afgaf. Toen ook nog een gedeelte van Prinsegracht 36 afbrandde, 
            werd het er niet beter op.
            Na enige tijd van leegstand werd in 1978 het voormalige klooster aan de Prinsegracht in gebruik genomen door Emmaus 
            welvaartsresten. 
    
            Sindsdien wordt de kapel verhuurd aan culturele en maatschappelijke organisaties. De oudste huurders zijn   <a href= "https://www.ekklesiadenhaag.nl/" TARGET="_blank">  Ekklesia Den Haag, </a>  
            een oecumenische basisgemeenschap, die sinds 1981 haar tweewekelijkse diensten op zondag in de kapel houdt en <a href= "https://koorjanenalleman.nl/" TARGET="_blank"> het koor Jan en Alleman, </a>  die sinds 1995 
            wekelijks repeteert.
            Op dit moment wordt de kapel gebruikt voor dans- en yogalessen, concerten, muziekopnamen, repetities van conservatoriumstudenten, workshops en zelfs 
            huwelijksinzegeningen.
        </div>
    </div>

    <div class="col-2"> <br> </div>
</div>

<!--------------------------------------------------------------------------------------------------------------------- -->

<div class="row">
    <div class="col-12"> 
        <div class ="font-20B TxtCenter verbergenMobiel OpmaakLaptop"> Een impressie</div>
    </div>
</div>

<!--------------------------------------------------------------------------------------------------------------------- -->
<div class="rowS">

    <div class="col-4">   
        <img class="F100S" src="{% static 'img/Body/Barthkapel3.jpg' %}"  alt="">
    </div>

    <div class="col-4">   
       <img class="F100S" src="{% static 'img/Body/Barthkapel5.jpg' %}"   alt=""> 
    </div>

    <div class="col-4">   
            <img class="F100S" src="{% static 'img/Body/Barthkapel4.jpg' %}"   alt="">
    </div>
  
</div>

<!--------------------------------------------------------------------------------------------------------------------- -->

<!------------------------------------------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-12"> 
        <div class ="font-20B TxtCenter verbergenMobiel OpmaakLaptop"> Ligging </div>
        <div class ="font-20B TxtCenter verbergenLaptop"> Adres</div>
    </div>
</div>

<!--------------------------------------------------------------------------------------------------------------------- -->
<div class="row">

    <div class="col-4"> 
            <ol class="font-20B TxtCenter verbergenMobiel"> Barthkapel</ol>
            <ol class="font-10 TxtCenter">  Brouwersgracht 2K, 2N, 2L </ol>
            <ol class="font-10 TxtCenter">  2512 ER Den Haag</ol>
            <ol class="font-10 TxtCenter color">  <a href = "/panden/panden.html"> Terug naar alle panden</a> </ol> 
            <ol class="font-10 TxtCenter color">  <a href = "/panden/barthkapelarchief.html"> Archief</a> </ol>   
    </div>

    <div class="col-2">  
        <br> 
    </div>

    <div class="col-6">  
        <ol class="opmaak-verhuur-plat">  
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4904.659079091623!2d4.301319987818236!3d52.07373069685356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5b7289a466b29%3A0x2e27e5a1e2e473ea!2sBrouwersgracht%202K%2C%202512%20ER%20Den%20Haag!5e0!3m2!1snl!2snl!4v1718694493365!5m2!1snl!2snl" 
            style="border:0;" allowfullscreen="true" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </ol> 
    </div>
  
</div>

<!--------------------------------------------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-12">   
        <br>
    </div>
</div>

<!--------------------------------------------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-2">   
        <img class="" src="" alt=""> 
    </div>
    <div class="col-2">   
        <img class="FotoB" src="{% static 'img/Body/Barthkapel_P1.jpg' %}" alt=""> 
    </div>
    <div class="col-2">   
        <img class = "FotoB"  src="{% static 'img/Body/Barthkapel_P4.jpg' %}" alt=""> 
    </div>
    <div class="col-2">   
        <img class = "FotoB"  src="{% static 'img/Body/Barthkapel_P3.jpg' %}" alt=""> 
    </div>
    <div class="col-2">   
        <img class = "FotoB"  src="{% static 'img/Body/Barthkapel_P2.jpg' %}" alt=""> 
    </div>
    <div class="col-2">   
    </div>
</div>

<!--------------------------------------------------------------------------------------------------------------------- -->
{% endblock %}
<!--------------------------------------------------------------------------------------------------------------------- -->
{% block txt %}
Brouwersgracht 2

{% endblock %}
<!--------------------------------------------------------------------------------------------------------------------- -->
 