{% extends 'basis/baseweb1.html'%}
{% load static %}


{% block inhoud2 %}

<!--------------------------------------------------------------------------------------------------------------------- -->
<div class="overflow">
<div class="row">
    <div class="col-12"> 
        <div class="img-container-pd">      
            <img class="" src="{% static 'img/Headers/Header_Prins.jpg' %}" alt="Header_Prinsegracht">
            <div class = "img-txt-contact"> 
            </div>
        </div> 
    </div>
</div>
</div>

<!------------------------------------------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-12"> 
        <div class ="font-20B TxtCenter verbergenMobiel"> Geschiedenis </div>
        <a href="/panden/lepelstr.html" class="vorige">&#8882;</a>
        <a href="/panden/tuinhuis.html" class="volgende">&#8883;</a>
        <div class ="font-20B TxtCenter verbergenLaptop"> Prinsegracht </div>
    </div>
</div>

<!--------------------------------------------------------------------------------------------------------------------- -->

<div class="row">
    <div class="col-2"> <br> </div>

    <div class="col-8T">  
        <ol class ="font-9">
            Dit markante pand aan een van de belangrijkste grachten van Den Haag, kwam in 2011 in bezit van SBWE. 
            Tot dat jaar zat elektronicawinkel Stuut & Bruin op het adres, een begrip in en buiten Den Haag. In 1948 openden de voorouders van de laatste 
            eigenaren hun winkel op nummer 34, die later uitgebreid werd naar nummer 32, 40 en nummer 23 aan de overkant.
            Toen firma Stuut & Bruin haar deuren definitief sloot, nam SBWE ook nummer 32 en 34 over, maar die zijn kort daarna weer doorverkocht. 
            Nummer 40 kent een multifunctionele invulling, met een kookschool, woning en verschillende kantoren. De achterkant van het pand grenst aan het terrein 
            van de Barthkapel. 
        </ol>
    </div>

    <div class="col-2"> <br> </div>
</div>

<!--------------------------------------------------------------------------------------------------------------------- -->

<div class="row">
    <div class="col-12"> 
        <div class ="font-20B TxtCenter verbergenMobiel OpmaakLaptop"> Een impressie</div>
    </div>
</div>


<!--------------------------------------------------------------------------------------------------------------------- -->
<div class="rowS">

    <div class="col-4">   
        <img class="F100S FotoP" src="{% static 'img/Body/Prins1.jpg' %}" alt=""> 
    </div>

    <div class="col-4">   
        <img class="F100S FotoP" src="{% static 'img/Body/Prins2.jpg' %}" alt=""> 
    </div>

    <div class="col-4">   
        <img class="F100 FotoP" src="{% static 'img/Body/Prins3.jpg' %}" alt=""> 
    </div>
  
</div>


<!------------------------------------------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-12"> 
        <div class ="font-20B TxtCenter verbergenMobiel OpmaakLaptop"> Ligging </div>
        <div class ="font-20B TxtCenter verbergenLaptop"> Adres</div>
    </div>
</div>



<!--------------------------------------------------------------------------------------------------------------------- -->
<div class="row">

    <div class="col-4"> 
            <ol class="font-20B TxtCenter verbergenMobiel"> Prinsegracht </ol>
            <ol class="font-10 TxtCenter"> Prinsegracht 40 </ol>
            <ol class="font-10 TxtCenter">  2512 GA Den Haag</ol>
            <ol class="font-10 TxtCenter color">  <a href = "/panden/panden.html"> Terug naar alle panden</a> </ol>  
    </div>

    <div class="col-2">  
        <br> 
    </div>

    <div class="col-6">  
        <ol class="opmaak-verhuur-plat">  
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2452.306470981514!2d4.303477876163907!3d52.07415066914389!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5b7289836ad19%3A0xf115f9d327b0d66a!2sPrinsegracht%2040%2C%202512%20GA%20Den%20Haag!5e0!3m2!1snl!2snl!4v1718699600394!5m2!1snl!2snl" 
            style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </ol> 
    </div>
</div>

<!--------------------------------------------------------------------------------------------------------------------- -->

{% endblock %}
<!--------------------------------------------------------------------------------------------------------------------- -->
{% block txt %}
Prinsegracht
{% endblock %}
<!--------------------------------------------------------------------------------------------------------------------- -->

