{% extends 'basis/baseweb1.html' %}
{% load static %}

{% block inhoud2 %}
<!--------------------------------------------------------------------------------------------------------------------- -->
<!--------------------HEADER--------------------------------------------------------------------------------------------------------->
<div class="row">
    <div class="col-12"> 
        <div class="img-container-contact"> 
            <!--<img src="{% static 'img/Paginas/Lucht_Header3.jpg'  %}" alt="header-sbwe">  -->    
            <img src="{% static 'img/Paginas/BKBuiten5.jpg'  %}" alt="header-sbwe">       
            <div class = "img-txt-contact font-20B verbergenMobiel"> 
               
            </div>
        </div> 
    </div>
</div>
<!------->
<!--sjabloon in basisweb1, wordt volgens mij niet gebruikt, omdat tekst dubbel op pagina komt te staan-->
{% block txt %}
{% endblock %}
<!------->
<!--------------------EINDE>>HEADER--------------------------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-12"> 
        <br>
        <div class ="font-20B TxtCenter"> Inrichting Barthkapel</div>
        <br>
        <br>
    </div>
</div>


<!--------------------------------------------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-3"> <br> </div>

    <div class="col-3 FloatM">  
        <div class = "font-12">
        <strong>Gegevens kapel. </strong> <br> <br>
            <ul>
                <li>Afmeting: +/- 100 m2</li>
                <li>Aantal stoelen: 80</li>  
                <li>Piano te huur (Blüthrer)</li> 
                <li>Twee lange tafels en twee statafels</li>
                <li>Ruime keuken met inventaris en koelkast</li> 
            </ul>
        </div>
    </div>  

    <div class="col-3">
        <a href = ""> <img class="F100" src="{% static 'img/BK/BK4.jpg' %}" alt="piano"> </a>  
    </div>

    <div class="col-3"> <br> </div>
</div>

<!--------------------------------------------------------------------------------------------------------------------- -->
<div class="row">
<div class="col-12 font-9 FloatM"> 
    <a href = ""> <img class="F50" src="{% static 'img/BK/PlattegrondBK.png' %}" alt="plattegrond"> </a>
</div>
</div>

<!--------------------------------------------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-6 FloatM font-12">     
        <strong> Algemeen </strong> <br> <br>
        <ul>
            <li> Verhuurtijden in overleg, maar tot maximaal 23.00 uur.</li>
            <li> Het gebruik van elektrische en/of versterkte muziek is niet toegestaan.</li>
            <li> Factuur wordt achteraf per e-mail verstuurd.</li>
        </ul>
    </div>

    <div class="col-6 FloatM font-12">     
        <strong> Zaal achterlaten </strong> <br> <br>
        <ul>
            <li> Ruimtes moeten veegschoon worden achtergelaten.</li>
            <li> Stoelen terug op hun vaste plek.</li>
            <li> Vaatwerk en keuken moeten schoon worden achtergelaten.</li>
            <li> Aanrechtblad leeg en alle spullen terug in de kast.</li>
            <li> Vuilniszakken graag in de desbetreffende containers op de brouwersgracht plaatsen.</li>
        </ul>
    </div>
</div>
<!--------------------------------------------------------------------------------------------------------------------------------->
<div class="row F80 FloatM">

    <div class="col-6"><a href="/CC/impressieBK.html"> <em> Geluidsfragement </em>  </a></div>
    <div class="col-6"><a href="/CC/voorwaardenBK.html"> <em> Annuleringsvoorwaarden </em>  </a> </div>
</div>


<!--------------------------------------------------------------------------------------------------------------------------------------- -->
<script src="{% static 'js/Buttons.js' %}"></script>

{% endblock %}
<!--------------------------------------------------------------------------------------------------------------------------------------- -->

