/* ------------------------------------------------------------------------------------------------------*/

@media only screen and (min-device-width: 820px){

/* and (max-device-width: 1900px){ 992PX*/
/*------------------------------------------------------------------------------------------------------  */
header{ /* nodig voor menu */
    position: absolute;
        top:0px;
        left:0px;
    z-index:10;
    max-height:20%;
    max-width:100%;}

/* ---------------------------- ALLE------------------------------------------------------------------------------------------  */
/* KOLOM/ */
.row{display:inline-block;
    width:100%;}
.rowS{
    width:94%;
    padding-left:3%;}

[class*="col-"]{
    float: left;
    padding:0%;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-3T {width: 25%;}
.col-4 {width: 33.33%;}
.col-4T {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}  /* ---T voor tekst & "" voor foto's ivm Mobile versie----- */
.col-8T {width: 66.66%;} 
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}   

/* LETTERTYPE */
[class*="font-"]{
    font-family: Gill Sans, Gill Sans MT, Calibri, Arial, Helvetica, sans-serif;
    color: hsla(193, 92%, 15%, 0.882);
    line-height:2;}
.font-7{ font-size: 14px;}
.font-8{ font-size: 16px;}
.font-9{ font-size: 18px;}
.font-10{ font-size: 20px;}
.font-11{ font-size: 22px;}
.font-12{ font-size: 24px;}
.font-13{ font-size: 26px;}
.font-14{ font-size: 28px;}
.font-15{ font-size: 30px;}
.font-16{ font-size: 32px;}
.font-17{ font-size: 34px;}
.font-18{ font-size: 36px;}
.font-18B{font-size: 36px; font-weight: 900;}
.font-20{ font-size: 38px;}
.font-20B{font-size: 38px; font-weight: 750;}
.font-25{font-size: 50px;}
/* LETTERTYPE */ 
/* WIJDTE */ 
.F100S{ width:94%;padding-left:3%;padding-right:3%;}
/* WIJDTE */ 
/* DEVICE ZICHTBAAR */
.verbergenMobiel{display:block;background-color:inherit;} /*geen beeld bij mobiele versie - css laptop = zichtbaar */
.verbergenLaptop {display:none;background-color:inherit;} /* geen beeld bij laptop versie - css laptop = niet zichtbaar/none */
/* DEVICE ZICHTBAAR */   
/* DIVERS/PAGINAS */  
.TxtCenter{text-align: center;}
/* DIVERS/PAGINAS */  

/* ---------------------------- ALLE: EINDE-------------------------------------------------------------------------------------  */
/*--------------------------------------MENU------------------------------------------------------------  */
/* LAPTOP */
.menuboven {  display:flex;
    position:absolute;
        top:10px;}
.menu1-menu-container{
    display:flex;}

.menu1-menu-container li ul{
    display:none;
    position:absolute; /*werkt*/
        top:100%;
        right:40%;
        transform: translate(0,0%);
    background-color: hsla(197, 91%, 48%, 0.882);color: white;
    width:30%; /* breedte van dropdown blok*/
    height: 300%;
    border-radius:7%;
    border: 2px black solid;}
.menu1-menu-container li:hover ul{display: inline-block;}
.menu1-menu-container ul{/* weinig te stijlen - = lijst, */
    width:60%; /* breedte van menu-items */
    background-color:inherit;
    position:absolute; /* plaats tov parent (absolute position): relative & static werken niet (gaat menu naar links) */
        right: 0%;
        top: 5%;
    margin-right:0%;
    padding:0%;}
.menu1-menu-container li{ /* = menu-items */display:inline-block;
    list-style-type: none;
    padding-left:4%;
    padding-right:0%;
    padding-top: 2%;}
.menu1-menu-container a {
    /* = streep onder de link weghalen */
    text-decoration: none;
    color: white;
    font-size:26px;}
.menu1-menu-container a:hover {/* = streep onder de link weghalen */
    color: hwb(38 9% 15%);}
    
/* MOBIEL */
.menu4-menu-container{display:none;}

/*--------------------------------------MENU EINDE-------------------------------------------------------*/
/* -----------------------------BASISWEB1: --------------------------------------------------------------------------------  */
.logo img{ /*Logo */ 
    clip-path: circle(50%); 
    width: 10%;
    position: absolute;
        top: 2%;
        left: 5%;
    z-index: 500;}

.Ptitel{ /* korte titel in header/afbeelding */
    color: white;
    position:absolute;
        top:10%;
        right: 5%;}
.lijntje{display: none;}
/* -----------------------------BASISWEB1: EINDE-----------------------------------------------------------------------------  */
/* -----------------------------INDEX-------------------------------------------------------------------  */
.img-container-home{
    background-attachment: fixed;
    background-size: cover;
    width:100%;
    max-height:20%;}
/*--ANDERS--*/
.opmaak-home-lap{
    padding:2%;}
#buttonBK{
    position:absolute; /*relative: vanaf linkerhoek in zijn rij. Bij absolute, vanaf rechterbovenhoek van beeldscherm */
        top:60%;
        right:10%;
        transform: translate(0%, 0%); /*horizontaal versus verticaal */
    background-color:hsla(193, 92%, 15%, 0.882);
    color:white;
    height: 10%;
    border:solid 2px hsla(193, 92%, 15%, 0.882);
    border-radius:2%;
    z-index:300;}
/* -----------------------------INDEX EINDE---------------------------------------------------------------  */
/* -----------------------------OVER SBWE---- ------------------------------------------------------------- */
.foto1-sbwe{
    position:relative;
        top:0%;
        left:0%;
        transform: translate(50%, 10%); /*horizontaal versus verticaal */
    clip-path: circle(45%); /* img als rondje weergeven */
    width:50%;} 

.foto2-sbwe{
    width:75%;}

.opmaakSBWE1{
    padding-top:2%;}

.opmaakSBWE2{
    margin: 0 10% 0 10%;
    width:80%;
    padding-top:2%;}
/* -----------------------------EINDE>>OVER SBWE---- ------------------------------------------------------ */
/* ----------------------------- CONTACT-----------------------------------------------------------------------------------  */
/* -----------------------------EIND>> CONTACT-----------------------------------------------------------------------------  */
/* ----------------------------VERHUURBK ------------------------------------------------------------------ */
.container-bkverhuur{
    position:absolute;}

.img-container-bkverhuur{
    width:100%;
    position: relative;
        top:0%;
    transform: translate(-5%,-12%);}



/*--verwijderen ??? */
.afbBK{ 
    background-color: inherit;
    width:100%;
    margin-left:0%;
    margin-top:0%;
    position: relative;
        top:0%;
        position:relative;
        top:50%;
    vertical-align: middle;
    padding-left:.5%;}

#OverBK{
    display: inline-block;
    width: 24%;
    height: 200px;}

.img-txt-bkverhuur{
    text-align: center;
    color:white;
    position: absolute;
        top: 45%;
        right: 7%;
    transform: translate(0%, 0%);
    z-index:1;
    width: 35%;}  
/*--verwijderen ??? */ 
/* ----------------------------EINDE>>VERHUURBK ------------------------------------------------------------------*/
/* ----------------------------CC INRICHTING----------------------------------------------------------------------*/
/* ----------------------------EINDE>>CC INRICHTING---------------------------------------------------------------*/
/* -----------------------------PANDEN--------------------------------------------------------------------------- */
/*Pd Looij */
.FotoL{
    max-height:500px;}
/*Pd Prinsegracht*/
.FotoP{
    max-height:400px;}

/* ----------------------------EINDE>>PANDEN--------------------------------------------------------------------- */
/* --------------------------- FOTO GALERIJ---------------------------------------------------------------------- */
/* --------------------------- EINDE>>FOTO GALERIJ----------------------------------------------------------------*/


/* ------------------------------@MEDIA AFSLUITING-------------------------------------------------------*/
}
/*-------------------------------------------------------------------------------------------------------*/